@font-face {
    font-family: 'antinoouRegular';
    src: url('antinoou-webfont.eot');
    src: url('antinoou-webfont.eot?#iefix') format('embedded-opentype'),
         url('antinoou-webfont.woff') format('woff'),
         url('antinoou-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antinoouItalic';
    src: url('antinoouitalic-webfont.eot');
    src: url('antinoouitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('antinoouitalic-webfont.woff') format('woff'),
         url('antinoouitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'antinoouRegular', Helvetica, sanserif;
}

div.htmlvis {
font-family: antinoouRegular, sans-serif; width: 500px; white-space: normal !important;  
}
/*#.line{display: block; white-space:nowrap; }
#.line:before{content:attr(line)": ";}*/
.translation:hover{color: red;}
/*#.rend{font-size: x-large;}
#.person{color:red;}
.place{color:blue;}*/
.word{ white-space: inherit; }
.word:after{ content:" " }
.norm{  text-indent: -5px;text-align: left }
.page:before{color: blue; font-style: italic; content: " [" attr(page) "] ";}
